<div class="nested-fields">
  <div class="field">
    <%= f.label :tipo %>
    <%= f.text_field :tipo %>
  </div>

  <div class="field">
    <%= f.label :num %>
    <%= f.text_field :num %>
  </div>
  
  <%= link_to_remove_association "Remover telefone", f %>

  <br><br><br>
</div>