


<div class="row">
  <div class="col-sm-6">
    <h1>Core_contatos</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_core_contato_path, class: 'btn btn-primary' do %>
    Add New Contato
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Cdg ordem</th>
            <th>End telefone</th>
            <th>End email</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @core_contatos.each do |core_contato| %>
        <%= content_tag :tr, id: dom_id(core_contato), class: dom_class(core_contato) do %>
          

                      <td><%= core_contato.cdg_ordem %></td>
                      <td><%= core_contato.end_telefone %></td>
                      <td><%= core_contato.end_email %></td>
          
          
            <td><%= link_to 'Show', core_contato %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
