<div class="page-header">
  <%= link_to core_contatos_path, class: 'btn btn-default' do %>
    All Core_contatos
  <% end %>
  <%= link_to edit_core_contato_path(@core_contato), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show core_contato</h1>
</div>

<dl class="dl-horizontal">
  <dt>Cdg ordem:</dt>
  <dd><%= @core_contato.cdg_ordem %></dd>

  <dt>End telefone:</dt>
  <dd><%= @core_contato.end_telefone %></dd>

  <dt>End email:</dt>
  <dd><%= @core_contato.end_email %></dd>

</dl>
