


<div class="row">
  <div class="col-sm-6">
    <h1>Core_servidores_departamentos</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_core_servidores_departamento_path, class: 'btn btn-primary' do %>
    Add New Servidores departamento
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Cdg ordem</th>
            <th>Cdg dpto</th>
            <th>Integer</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @core_servidores_departamentos.each do |core_servidores_departamento| %>
        <%= content_tag :tr, id: dom_id(core_servidores_departamento), class: dom_class(core_servidores_departamento) do %>
          

                      <td><%= core_servidores_departamento.cdg_ordem %></td>
                      <td><%= core_servidores_departamento.cdg_dpto %></td>
                      <td><%= core_servidores_departamento.integer %></td>
          
          
            <td><%= link_to 'Show', core_servidores_departamento %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
