<%= form_with(model: core_pessoal, local: true) do |form| %>
  <% if core_pessoal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(core_pessoal.errors.count, "error") %> prohibited this core_pessoal from being saved:</h2>

      <ul>
      <% core_pessoal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :cdg_ordem %>
    <%= form.number_field :cdg_ordem, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :nmr_cpf %>
    <%= form.number_field :nmr_cpf, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :nme_pessoa %>
    <%= form.text_field :nme_pessoa, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :sexo %>
    <%= form.number_field :sexo, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :dta_nascimento %>
    <%= form.date_select :dta_nascimento, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if core_pessoal.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', core_pessoal, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if core_pessoal.persisted? %>
      <%= link_to "Cancel", core_pessoal, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", core_pessoals_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
