<div class="page-header">
  <%= link_to core_funcionals_path, class: 'btn btn-default' do %>
    All Core_funcionals
  <% end %>
  <%= link_to edit_core_funcional_path(@core_funcional), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show core_funcional</h1>
</div>

<dl class="dl-horizontal">
  <dt>Cdg funcao:</dt>
  <dd><%= @core_funcional.cdg_funcao %></dd>

  <dt>Cdg ordem:</dt>
  <dd><%= @core_funcional.cdg_ordem %></dd>

  <dt>Cdg funcional:</dt>
  <dd><%= @core_funcional.cdg_funcional %></dd>

  <dt>Status:</dt>
  <dd><%= @core_funcional.status %></dd>

  <dt>Ref anomes:</dt>
  <dd><%= @core_funcional.ref_anomes %></dd>

  <dt>Dta admissao:</dt>
  <dd><%= @core_funcional.dta_admissao %></dd>

</dl>
