


<div class="row">
  <div class="col-sm-6">
    <h1>Core_departamentos</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_core_departamento_path, class: 'btn btn-primary' do %>
    Add New Departamento
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Nme dpto</th>
            <th>Vagas</th>
            <th>Cdg ordem servidores</th>
            <th>Cdg ordem chefe</th>
            <th>Dta inicio dpto</th>
            <th>Dta fim dpto</th>
            <th>Vagas dispo</th>
            <th>Cdg dpto</th>
            <th>Cdg dpto pai</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @core_departamentos.each do |core_departamento| %>
        <%= content_tag :tr, id: dom_id(core_departamento), class: dom_class(core_departamento) do %>
          

                      <td><%= core_departamento.nme_dpto %></td>
                      <td><%= core_departamento.vagas %></td>
                      <td><%= core_departamento.cdg_ordem_servidores %></td>
                      <td><%= core_departamento.cdg_ordem_chefe %></td>
                      <td><%= core_departamento.dta_inicio_dpto %></td>
                      <td><%= core_departamento.dta_fim_dpto %></td>
                      <td><%= core_departamento.vagas_dispo %></td>
                      <td><%= core_departamento.cdg_dpto %></td>
                      <td><%= core_departamento.cdg_dpto_pai %></td>
          
          
            <td><%= link_to 'Show', core_departamento %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
